.book{
    display: inline-block;
    width: 220px;
    margin: 10px;
    height: 220px;
    text-align: left;
    cursor: pointer;
    position: relative;
}
.book-cover{
    width: 220px;
    height: 220px;
    border: 4px solid black;
    border-radius: 5px;
    position: absolute;
    object-fit: cover;

}
.book-title{
    width: 210px;
    background-color: black;
    color: white;
    opacity: 7;
    margin-left: center;
    position: absolute;
    bottom: 0;
    padding: 10px;

}